

ConnectionStrings__DefaultConnection=Server=localhost;Database=eTerminDb;Trusted_Connection=True;TrustServerCertificate=True;



Jwt__Key=CHANGE_THIS_TO_A_RANDOM_SECRET
Jwt__Issuer=eTermin.Api
Jwt__Audience=eTermin.Client
Jwt__ExpiresInMinutes=60



PayPal__ClientId=YOUR_PAYPAL_SANDBOX_CLIENT_ID
PayPal__ClientSecret=YOUR_PAYPAL_SANDBOX_CLIENT_SECRET
PayPal__BaseUrl=https://api-m.sandbox.paypal.com



Seed__AdminPassword=CHANGE_THIS_ADMIN_PASSWORD
Seed__UserPassword=CHANGE_THIS_USER_PASSWORD



PayPal__SandboxBuyerEmail=YOUR_PAYPAL_SANDBOX_BUYER_EMAIL
PayPal__SandboxBuyerPassword=YOUR_PAYPAL_SANDBOX_BUYER_PASSWORD